*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

header{
  width: 10%;
}

header .headline{
  font-size: 22px;
} 

.nav-list{
  text-align: center;
}

.nav-list-item{
  padding-left: 40px;
}
 